MiniGoogleIndexMaster/.idea/misc.xml
MiniGoogleIndexMaster/.idea/workspace.xml
MiniGoogleWorker/.idea/misc.xml
MiniGoogleWorker/.idea/workspace.xml
MiniGoogleNameServer/.idea/misc.xml
MiniGoogleNameServer/.idea/workspace.xml